.page {
  min-width: 320px;
  min-height: 100vh;
  background-color: black;
  font-family: 'Inter', Arial, sans-serif;
  color: white;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
