.popup__input-container {
  margin: 18px 0;
  display: flex;
  flex-direction: column;
  border-width: 0;
  padding: 0;
}

@media screen and (max-width: 555px) {
  .popup__input-container {
    margin-top: 75px;
  }
}
