.popup__submit-btn {
  border-radius: 2px;
  background-color: black;
  color: white;
  padding: 0;
  border: 0;
  min-height: 50px;
  font-size: 18px;
  line-height: 1.2;
  transition: opacity .5s ease-in-out;
  text-align: center;
}

.popup__submit-btn:hover {
  opacity: 0.8;
}

@media screen and (max-width: 471px) {
  .popup__submit-btn {
    min-height: 46px;
    font-size: 14px;
  }
}
